@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Poppins:wght@200;300;400;500;600;700&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');

html{
    font-family: 'Poppins', sans-serif;
}

*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f9f9f9;
    height: 100vh;    
    background-color: #f9f9f9;
    font-size: 22px;
    position: relative;
}
.container{
    /* border: 2px solid red; */
    position: absolute;
    left: 50%;
    top: 50%;
    width: 370px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
    box-shadow: 1px 1px 13px rgb(0 0 0 / 10%);
}
h1{
    background-color: #52ade2;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 10px;
}
p{
    color: #494747;
}
.control{
    margin: 25px 0;
}
input{
    border: none;
    outline:none;
    border-bottom: 2px solid #52ade2;
    text-align: center;
    color: #52ade2;
    font-size: 25px;
    margin-top: 20px; 
} 

select{
    border: none;
    outline: none;
    border: 2px solid #52ade2;
    color: #7a7a7a;
    font-size: 18px;
    margin-top: 20px;
    padding: 11px 34px;
    border-radius: 30px;
    width: 75%;     
}

#calculate{
    color: white;
    background: #52ade2;
    border: 1px solid transparent;
    font-size: 17px;
    border-radius: 25px;
    padding: 14px 29px;
    margin: 25px;
    transition: all 0.3s ease;
}
#calculate:hover{
    color: #52ade2;
    border-color: #52ade2;
    background: white;
    cursor: pointer;
    font-weight: 400;
}
.totalTip{
    background-color: #52ade2;
    border-radius: 20px;
    padding: 25px 0 35px;
} 

.totalTip #tip{
    color: rgb(15, 56, 109);
    font-size: 30px;
}

.totalTip p{
    color: black;
    font-weight: 600;
}

.totalTip #dollar{
    font-size: 30px;
}
